@model nhibernate_demo.Models.Company

@{
    ViewBag.Title = "Create Company";
}

<div class="center">
    <h2>Create Company</h2>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)   
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
       
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.EcoFriendly)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.EcoFriendly)
            </div>

            <hr class="hr-center" />

            <p>
                <input class="btn btn-default no-decoration" type="submit" value="Create" />
                <a class="btn btn-default no-decoration" href="/Farmer">Back to List</a>
            </p>
            @if (ViewBag.emptyName != null && ViewBag.emptyName == true)
            {
                <span class="alert" style="color:red">The name of the company is Empty!</span>
            }
            @if (ViewBag.notUniqueCompanyName != null && ViewBag.notUniqueCompanyName == true)
            {
                <span class="alert" style="color:red">The company already exists!</span>
            }
        </fieldset>
    }

    <div class="hide">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementsByTagName("input")[0].setAttribute("required", "required");
        var button = document.getElementById("button");
        button.onclick = function () {
            if (!this.style.backgroundColor) {
                this.style.backgroundColor = 'yellow';
            }
            else {
                this.style.backgroundColor = null;
            }
        }

    })
</script>

